stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_IMAGE: "docker.io/${DOCKER_USER}/sast-scan-test"
  IMAGE_TAG: "${CI_COMMIT_SHORT_SHA}"

# 1. Tahap SAST (Static Analysis)
sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r . -f json -o bandit-report.json
  artifacts:
    when: always
    paths:
      - bandit-report.json

# 2. Tahap Build Image Lokal
build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t ${DOCKER_IMAGE}:${IMAGE_TAG} .
    - docker save ${DOCKER_IMAGE}:${IMAGE_TAG} > image.tar
  artifacts:
    paths:
      - image.tar

# 3. Tahap Trivy (Vulnerability Scanning)
trivy_scan:
  stage: security_check
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy image --input image.tar --severity HIGH,CRITICAL --exit-code 1
  # Pipeline akan GAGAL (stop) jika ditemukan celah HIGH atau CRITICAL

# 4. Tahap Push ke Registry
push_registry:
  stage: push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker load < image.tar
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker push ${DOCKER_IMAGE}:${IMAGE_TAG}
    - docker tag ${DOCKER_IMAGE}:${IMAGE_TAG} ${DOCKER_IMAGE}:latest
    - docker push ${DOCKER_IMAGE}:latest

# 5. Tahap Deploy ke Kubernetes
deploy_k8s:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl config use-context path/to/your/context
    - sed -i "s|image:.*|image: ${DOCKER_IMAGE}:${IMAGE_TAG}|g" k8s/deployment.yaml
    - kubectl apply -f k8s/deployment.yaml -n staging
  only:
    - main