version: '3.8'

services:
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    
    image: ${DOCKER_USER}/flask-web-service:latest

    ports:
      - "5000:5000"

    environment:
      - FLASK_ENV=development

    restart: always