apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
  namespace: staging
spec:
  type: ClusterIP 
  selector:
    app: flask-web
  ports:
    - protocol: TCP
      port: 80         
      targetPort: 5000 